@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap&family=Poor+Story');

.emphasize {
    font-family: 'Yeon Sung', cursive;
    font-size: 1.5rem;
    margin-block-start: 0em;
    margin-block-end: 0px;
};
    